.topnav {
    position: fixed;
    top: 0;
    height: 64px;
    left: 0;
    right: 0;
    
    background-color: #444;
    box-shadow: 0 2px 2px #000;
    z-index: 100;
}

.content {
    position: fixed;
    top: 64px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
}

.results {
    position: absolute;
    width: 58.333333%;
    left: 8.333333%;
    height: 100%;
    /* overflow-y: scroll; */
    /* overflow: auto; */
    
}

.aside {
    position: fixed;
    width: 25%;
    right: 8.333333%;
    height: 100%;
}

.logo {
    position: fixed;
    width: 25%;
    right: 8.333333%;
    top: 0;
    height: 64px;
    color: #fff;
    text-align: center;
    font: 32px Verdana;
    font-weight: bold;
    padding-top: 10px;
    text-shadow: 2px 2px rgba(0,0,0, 0.5);
    white-space: nowrap;
    overflow: hidden;
}

.search {
    position: absolute;
    width: 58.333333%;
    left: 8.333333%;
    height: 100%;
}

#search-input {
    position: relative;
    top: 10px;
    bottom: 10px;
    width: 100%;
    left: 0px;
    padding: 0;
    margin: 0;
    border: none;
    font: 20px Verdana;
    padding: 10px;
    border-radius: 4px;
    box-sizing: border-box;
    opacity: 0.85;
    box-shadow: inset 2px 2px 2px #000;
}

#search-input:focus {
    opacity: 1;
    outline: none;
}


.message {
    font: 36px tahoma;
    width: 100%;
    /* text-align: center; */
    color: #777;
}

.source-image {
    position: relative;
    top: 8px;
    width: 32px;
    height: 32px;
}

.source-table {
    width: 100%;
}

.source-table td {
    font: 24px tahoma;
    color: #222;
}