.topnav {
    position: fixed;
    top: 0;
    height: 64px;
    left: 0;
    right: 0;
    
    background-color: #444;
    box-shadow: 0 2px 2px #000;
    z-index: 100;
}

.content {
    position: fixed;
    top: 64px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
}


.results {
    position: absolute;
    width: 58.333333%;
    left: 8.333333%;
    height: 100%;
    /* overflow-y: scroll; */
    /* overflow: auto; */
    
}

.aside {
    position: fixed;
    width: 25%;
    right: 8.333333%;
    height: 100%;
}

.search {
    position: absolute;
    width: 58.333333%;
    left: 8.333333%;
    height: 100%;
}

#search-input {
    position: absolute;
    top: 10px;
    bottom: 10px;
    width: 100%;
    left: 0px;
    padding: 0;
    margin: 0;
    border: none;
    font: 20px arial;
    padding: 10px;
    border-radius: 4px;
    box-sizing: border-box;
    opacity: 0.85;
    box-shadow: inset 2px 2px 2px #000;
}

#search-input:focus {
    opacity: 1;
    outline: none;
}

.card {
    position: relative;
    width: 100%;
    height: 126px;
    margin: 20px 0;
}

.card-image {
    position: absolute;
    background-color: #666;
    left: 0;
    width: 25%;
    height: 100%;
    box-sizing: border-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-image-date {
    position: absolute;
    width: 100%;
    height: 24px;
    line-height: 24px;
    text-align: center;
    bottom: 0;
    font-weight: bold;
    font: 16px Verdana;
    white-space: nowrap;
    color: #fff;
    background-color: rgba(0,0,0, 0.5);
    text-shadow: 2px 2px rgba(0,0,0, 0.5);
}

.card-content {
    position: absolute;
    left: 25%;
    right: 0;
    height: 100%;
    padding-left: 20px;
    overflow: hidden;
}

.card-title {
    margin: 0;
    font: 20px Verdana;
    text-decoration: none;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.card-title:hover {
    text-decoration: underline;
}

.card-source {
    position: relative;
    margin: 0;
    display: block;
    height: 16px;
    padding: 0;
}

.card-source-icon {
    position: absolute;
    width: 16px;
    height: 16px;
}

.card-source-url {
    width: 100%;
    position: absolute;
    font: 12px arial;
    font-weight: bold;
    color: #888;
    padding-left: 20px;
    padding-top: 1px;
    box-sizing: border-box;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.card-description {
    margin: 0;
    padding-top: 8px;
    font: 14px Verdana;
}

.message {
    font: 36px tahoma;
    width: 100%;
    /* text-align: center; */
    color: #777;
}

.source-image {
    position: relative;
    top: 8px;
    width: 32px;
    height: 32px;
}

.source-table {
    width: 100%;
}
.source-table td {
    font: 24px tahoma;
    color: #222;
}